.fixture-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  color: white;
/* Created with https://www.css-gradient.com */
background: #CD1725;
/* background: -webkit-linear-gradient(top left, #CD1725, #CC5A1B);
background: -moz-linear-gradient(top left, #CD1725, #CC5A1B);
background: linear-gradient(to bottom right, #CD1725, #CC5A1B); */
  width: 40%;
  margin: 10px 30%;
}



.fixture-item__result {
  font-size: 1rem;
  font-weight: bold;
  color: #aa0000;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  margin:14px;
  display: flex;
  align-items: center;
 height: 10px;

}
.fixture-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid white;
  background: white;

  color: #aa0000;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.fixture-date__month {
  font-size: 1rem;
  font-weight: bold;
}
.fixture-date__day {
  font-size: 2rem;
  font-weight: bold;
}
