.navbar {
  width: 100%;
  background: #CD1725;
  /* background: -webkit-linear-gradient(top left, #CD1725, #CC5A1B);
  background: -moz-linear-gradient(top left, #CD1725, #CC5A1B);
  background: linear-gradient(to bottom right, #CD1725, #CC5A1B); */

  display: flex;
  align-items: center;
  height: 80px;


}
.logo{
  width: 100px;
}

.navbar-a {
  float: left;
  text-align: center;
  width: 16.6667%;
  padding: 40px 0;
  transition: all 0.3 ease;
  color: white;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  
  
}
.navbar-a:hover {
  /* background-color: white; Add a hover color */
  color: #000;
}

@media only screen and (max-width:600px){
  .navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 70px;
  
    }
    .navbar-a{
      font-size: 14px;
      justify-content: center;
      text-align: center;
      
    }
    .logo{
      width:70px;
    }
  
}
@media only screen and (max-width: 450px) {
 
   .navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;

  }
  .navbar-a{
    font-size: 8px;
    justify-content: center;
    text-align: center;
    
  }
  .logo{
    width:35px;
  }
  
}

